.compare-images-slider {
  display: block;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  img {
    pointer-events: none;
  }

  .first, .second {
    height: auto;
  }

  .first {
    max-width: 100%;
  }


  .frame {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 20%;
    overflow: hidden;
    z-index: 2;
  }

  .handle {
    position:absolute;
    left: 20%;
    top:0;
    bottom:0;
    width: 2px;
    margin-left: -1px;
    height: 100%;
    cursor: ew-resize;
    z-index: 3;
  }

  .handle:after {
    position: absolute;
    top: 50%;
    width: 42px;
    height: 42px;
    margin: -21px 0 0 -21px;

    content:'↔';
    line-height: 38px;
    font-size: 32px;
    background: #fff;
    text-align: center;
    border-radius: 21px;
  }
}
