@import 'config.scss';
@import 'sulphuris';

.github-buttons {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 16px;
}

a {
  color: color(primary);
}

.compare-images-slider > img {
  border-radius: 16px;
}

.compare-images-slider .frame > img {
  border-radius: 16px;
}
